/* 
Color Palette Cheat Sheet

HEX

Purple Navy: #435781 RGB: 67, 87, 129
White: white RGB: 255, 255, 255
Deep Saffron: #F9A03F RGB: 249, 160, 63
Blood Red: #6B0504 RGB: 107, 5, 4
Orange Red Crayola: #FE5F55 RGB: 254, 95, 85

*/

.flexThisBox {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  background: #435781;
  flex: 1 0 auto;
}

footer {
  background: rgba(107, 5, 4, 0.5);
  min-height: 50px;
}

/* header css */

header {
  /* background: rgba(67, 87, 129, 0); */
  background: #fe5f55;
  padding: 1.45rem 3rem;
  display: flex;
  flex-direction: row;
  align-content: center;
}

.logo {
  font-family: "Roboto Slab";
  font-weight: 300;
}

.navItem {
  list-style-type: none;
  padding: 1rem;
}

.nav {
  display: flex;
  flex: 1;
}

/* Index Page CSS */

.frontBanner {
  width: 100%;
  height: 120vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.blackOverlay {
  display: -webkit-flex; /* Safari */
  display: flex;
  flex-direction: column;
  background-color: rgba(0, 0, 0, 0.3);
  height: 100%;
  justify-content: center;
  align-items: left;
  padding: 15vh;
}

.bannerText {
  color: #fe5f55;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
}
