/* 
Color Palette Cheat Sheet

HEX

Purple Navy: #435781 RGB: 67, 87, 129
White: white RGB: 255, 255, 255
Deep Saffron: #F9A03F RGB: 249, 160, 63
Blood Red: #6B0504 RGB: 107, 5, 4
Orange Red Crayola: #FE5F55 RGB: 254, 95, 85

*/

.flexThisBox {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background: #435781;
}

main {
  background: #435781;
  flex: 1 0 auto;
}

/* header css */

header {
  /* background: rgba(67, 87, 129, 0); */
  background: #fe5f55;
  /* padding: 1.45rem 3rem; */
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-left: 5em;
  padding-right: 5em;
  padding-top: 1em;
  padding-bottom: 1em;
}

.logo {
  font-family: "Roboto Slab";
  font-weight: 300;
}

.nav {
  display: flex;
  flex-direction: row;
  list-style: none;
  text-transform: uppercase;
  justify-content: center;
  align-items: center;
  margin: 0;

  /* align-items: right; */
  /* flex: 1; */
}

.nav a {
  text-decoration: none;
}

.navItem {
  display: block;
  padding: 1em;
  margin: 0;
  font-family: "Roboto Slab";
  font-weight: 400;
  background: rgba(255, 255, 255, 0);

  /* list-style-type: none;
  padding: 1rem; */
}

.navItem:hover {
  background: rgba(255, 255, 255, 0.3);
}

/* Footer CSS */

footer {
  min-height: 5rem;
  background: #fe5f55;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-left: 4em;
  padding-right: 4em;
  padding-top: 1em;
  padding-bottom: 1em;
}

.socialsList {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 0;
  list-style: none;
}

.socialsList li {
  padding: 0.5em 1em;
  margin: 0;
}

.socialsList li a {
  text-decoration: none;
  font-family: "Roboto Slab";
  font-weight: 300;
}

.socialsList li a:hover {
  opacity: 0.7;
}

/* Index Page CSS */

.frontBanner {
  width: 100%;
  height: 120vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.blackOverlay {
  display: -webkit-flex; /* Safari */
  display: flex;
  flex-direction: column;
  background-color: rgba(0, 0, 0, 0.4);
  height: 100%;
  justify-content: center;
  align-items: left;
  padding: 15vh;
}

.bannerText {
  color: #fe5f55;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 3.5rem;
}
