body {
  background: green;
}

.flexThisBox {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex: 1 0 auto;
}

footer {
  background: gold;
  min-height: 50px;
  margin-top: 2rem;
}

header {
  background: rgba(220, 220, 220, 0.5);
  margin-bottom: 1.45rem;
  padding: 1.45rem 3rem;
}

.navItem {
  list-style-type: none;
  padding: 1rem;
}

.nav {
  display: flex;
  flex: 1;
}
